<% if flash[:error] %>
  <h3>Please fix the following errors: </h3>
  <% flash[:error].each do |error| %>
    <div>
      <p>* <%= error %></p>
    </div>
  <% end %>
<% end %>

<% if flash[:notice]%>
  <div>
    <p><%= flash[:notice] %></p>
  </div>
<% end %>

<h1><%= @project.name %></h1>

<p>Status: <%= @project.status.humanize %></p>

<%= form_with model: @project do |form| %>
  <%= form.label :status, "Change project status" %>
  <%= form.select :status, [
    ["Ready", "ready"],
    ["In Progress", "in_progress"],
    ["Complete", "complete"]
  ] %>

  <%= form.submit "Update status" %>
<% end %>

<h2> Comments </h2>
<h3> New comment</h3>
  <%= form_for :comment, url: project_comments_path(@project) do |form| %>
    <%= form.label :comment, "Comment" %>
    <%= form.text_area :comment %>

    <%= form.label :commentor, "Name of commentor" %>
    <%= form.text_field :commentor %>

    <%= form.submit "Add comment" %>
  <% end %>
<% if !@comments.empty? %>
  <ul>
    <% @comments.each do |comment| %>
      <li>
        <p>Comment: <%= comment.comment %></p>
        <p>Name: <%= comment.commentor %></p>
      </li>
    <% end %>
  </ul>
<% else %>
  <p> No comments yet!</p>
<% end %>

<h2> Project History </h2>
<% if !@histories.empty? %>
  <ul>
    <% @histories.each do |history| %>
      <li><p>Change: <%= history.change %> Time: <%= history.created_at %></p></li>
    <% end %>
  </ul>
<% else %>
  <p>No history yet</p>
<% end %>
