<h1><%= @project.name %></h1>

<p>Status: <%= @project.status.humanize %></p>

<h2> Comments </h2>

<% if !@comments.empty? %>
  <% @comments.each do |comment| %>
    <%= comment.comment %>
    <%= comment.commentor %>
  <% end %>
<% else %>
  <p> No comments yet!</p>
<% end %>

<h2> Project History </h2>
<% if !@histories.empty? %>
  <% @histories.each do |history| %>
    <%= history.change %>
    <%= history.created_at %>
  <% end %>
<% else %>
  <p> No history yet</p>
<% end %>
